.Footer{
    display: flex;
    flex-direction: column;
    background-color: #00A676;
    justify-content: space-between;
    ul {
        padding-right: 5rem;
        justify-content: space-between;
        h1{
            color: white;
        }
        button{
            padding: 0.5rem;
            background-color: #1D8439;
        }
        input{
            padding: 0.5rem;
        }
        a{
            color: white;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
                color: blue;
            }
        }
    }
    @media (min-width: 768px) {
        flex-direction: row;
    }
}